@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/oliver.css" rel="stylesheet" />

<div >
<img src="~/static/oliver/images/oliverschwabresume.jpg" id="resume"/>
</div>

@Html.Partial("_Footer")